{{ if .Params.prerequisites }}
  <div class="my-8 -mx-4 px-4 border border-blue-grey-50/100 rounded">
    <p>
      <strong>Prerequisites</strong>:<br>
      All tutorials require Vanadium <a href="/installation/">installation</a>,
      and must run in a <a href="/tutorials/faq.html#why-bash-">bash shell</a>.
    </p>

    {{ if .Params.prerequisites.scenario }}
      <p>
        Further, please
        <a href="/sh/scenario-{{ .Params.prerequisites.scenario }}-setup.sh"
           download="scenario-{{ .Params.prerequisites.scenario }}-setup.sh">
           download this script
        </a>
        then <a href="/tutorials/faq.html#why-source-">source</a> it:
      </p>

      <pre><code>source ~/Downloads/scenario-{{ .Params.prerequisites.scenario }}-setup.sh</code></pre>

      <p>
        This command wipes tutorial files and defines shell environment
        variables. If you start a new terminal, and just want to re-establish
        the environment, see instructions
        <a href="/tutorials/setup.html">here</a>.
      </p>
    {{ end }}

    {{ if .Params.prerequisites.completer }}
      <p>
        If you would like to generate files from this tutorial without the
        copy/paste steps, download and source
        <a href="/sh/tut-completer-{{ .Params.prerequisites.completer }}.sh"
            download="tut-completer-{{ .Params.prerequisites.completer }}.sh">
            this script
        </a>.
        Files will be created in the <code>$V_TUT</code>
        <a href="/tutorials/setup.html">directory</a>.
      </p>
    {{ end }}
  </div>
{{ end }}
