<div class="fixed top-[64px] left-0 w-[200px] z-10 h-[calc(100%-64px)] bg-gray-50">
  <nav class="overflow-y-auto h-full py-4 pl-4 leading-[20px] text-[14px]">
    <a href="/overview">Overview</a>
    <a href="/installation">Installation</a>
    <div>Tutorials</div>
    <nav class="pl-3">
      <a href="/tutorials/hello-world">Hello World</a>
      <a href="/tutorials/basics">Client/Server Basics</a>

      <div>Security</div>
      <nav class="pl-3">
        <a href="/tutorials/security">Overview</a>
        <a href="/tutorials/security/principals-and-blessings">Principal and Blessings</a>
        <a href="/tutorials/security/permissions-authorizer">Permissions Authorizer</a>
        <a href="/tutorials/security/first-party-caveats">Caveats</a>
        <a href="/tutorials/security/third-party-caveats">Third-party Caveats</a>
        <a href="/tutorials/security/agent">The Agent</a>
        <a href="/tutorials/security/custom-authorizer">Customer Authorizer</a>
      </nav>

      <div>Naming</div>
      <nav class="pl-3">
        <a href="/tutorials/naming">Overview</a>
        <a href="/tutorials/naming/mount-table">The Mount Table</a>
        <a href="/tutorials/naming/namespace">Namespaces</a>
        <a href="/tutorials/naming/suffix-part1">The Suffix - Part I</a>
        <a href="/tutorials/naming/suffix-part2">The Suffix - Part II</a>
        <a href="/tutorials/naming/globber">Globber</a>
      </nav>

      <div>Java</div>
      <nav class="pl-3">
        <a href="/tutorials/java">Overview</a>
        <a href="/tutorials/java/fortune">Fortune in Java</a>
        <a href="/tutorials/java/android">Location Service in Android</a>
      </nav>

      <a href="/tutorials/faq">Tutorial FAQ</a>
    </nav>

    <div>Concepts</div>
    <nav class="pl-3">
      <a href="/concepts/rpc">RPC System</a>
      <a href="/concepts/naming">Naming</a>
      <a href="/concepts/security">Security</a>
      <a href="/concepts/device-management">Device Management</a>
    </nav>

    <div>Design Docs</div>
    <nav class="pl-3">
      <a href="/designdocs/authentication">Authentication Protocol</a>
      <a href="/designdocs/identity-service">Identity Service</a>
      <a href="/designdocs/vdl-spec">VDL Specification</a>
      <a href="/designdocs/vom-spec">VOM Specification</a>
    </nav>

    <a href="/api-reference">API Reference</a>
    <a href="/glossary">Glossary</a>
    <a href="/faq">FAQ</a>

    <div>Community</div>
    <nav class="pl-3">
      <a href="/community/coding-guidelines">Coding Guidelines</a>
      <a href="/community/contributing">Contributing</a>
      <a href="/community/mailing-lists">Mailing List</a>
      <a href="/community/roadmap">Roadmap</a>
    </nav>
  </nav>
</div>
